@page "/Login"
@model LoginModel
@inject IStringLocalizer<Localization> Localizer

<component type="typeof(CultureSelector)" render-mode="ServerPrerendered" />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">@Localizer["Log in"]</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>@Localizer["Email"]</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["Password"]</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Localizer["Remember me"]
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">@Localizer["Log in"]</button>
                </div>
                <p class="h5 text-center m-5">
                    <a class="badge badge-primary h2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Register as a new user"]</a>
                </p>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
