@inject IStringLocalizer<Localization> loc
@inject IUserQuestionRepository userQuestionRepository
@inject IAlertService alertService

<EditForm Model="userQuestionModel" OnValidSubmit="SendAsync">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="ContactUsSubject">@loc["Subject"]</label>
        <InputText class="form-control border-dark"
                   id="ContactUsSubject"
                   rows="3"
                   @bind-Value="@userQuestionModel.Subject">
        </InputText>
        <ValidationMessage For="@(() => userQuestionModel.Subject)" />
    </div>
    <div class="form-group">
        <label for="ContactUsMessage">@loc["Message"]</label>
        <InputTextArea class="form-control border-dark"
                       id="ContactUsMessage"
                       rows="3"
                       @bind-Value="@userQuestionModel.CreatorMessage">
        </InputTextArea>
        <ValidationMessage For="@(() => userQuestionModel.CreatorMessage)" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" disabled="@isSubmiting" type="submit">@loc["Send"]</button>
    </div>
</EditForm>

@code {
    private bool isSubmiting;

    private UserQuestionRestModel userQuestionModel = new UserQuestionRestModel();

    private async Task SendAsync()
    {
        if (isSubmiting)
        {
            return;
        }
        isSubmiting = true;
        try
        {
            var isCreated = await userQuestionRepository.CreateAsync(userQuestionModel);
            if (isCreated)
            {
                userQuestionModel = new UserQuestionRestModel();
                alertService.PushMessage(AlertMessageEnum.Success, loc["Sent"]);
            }
            else
            {
                alertService.PushMessage(AlertMessageEnum.Danger, loc["Something went wrong"]);
            }
        }
        finally
        {
            isSubmiting = false;
        }
    }
}
