@inject IStringLocalizer<Localization> loc

<tr style="@(isDeleting ? "display: none" : "")">
    <th scope="row" @onclick="OnOpening" @ondblclick="OnEditing">
        @if (isEdit)
        {
            <EditForm class="form-inline" Model="Folder" OnValidSubmit="OnValidEditing">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <InputText class="form-control border-dark"
                               @bind-Value="@Folder.Name">
                    </InputText>
                    <ValidationMessage For="@(() => Folder.Name)" />
                </div>
                <button class="btn btn-warning" type="submit">@loc["Save"]</button>
            </EditForm>
        }
        else
        {
            <i class="fas fa-folder"></i>
            @Folder.Name
        }
    </th>
    <td>
    </td>
    <td>
    </td>
    <td>
        @if (!isEdit)
        {
            <button type="button" class="btn btn-danger" @onclick=@OnDeleting>
                <i class="fas fa-trash"></i>
            </button>
        }
        else
        {
            <Close OnClick="OnClose"></Close>
        }
    </td>
</tr>


@code {
    private CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();
    private bool isDeleting;
    private bool isEdit;
    private string folderName;
    [Parameter]
    public FolderRestModel Folder { get; set; }
    [Parameter]
    public EventCallback<FolderRestModel> OnOpen { get; set; }
    [Parameter]
    public EventCallback<FolderRestModel> OnEdit { get; set; }
    [Parameter]
    public EventCallback<FolderRestModel> OnDelete { get; set; }

    private void OnOpening()
    {
        cancellationTokenSource = new CancellationTokenSource();
        var token = cancellationTokenSource.Token;
        Task.Run(async () =>
        {
            await Task.Delay(400, token);
            if (!isEdit)
            {
                await OnOpen.InvokeAsync(Folder);
            }
        }, token);
    }

    private async Task OnDeleting()
    {
        isDeleting = true;
        await OnDelete.InvokeAsync(Folder);
        isDeleting = false;
    }

    private void OnEditing()
    {
        cancellationTokenSource.Cancel();
        if (!isEdit)
        {
            isEdit = true;
            folderName = Folder.Name;
        }
    }

    private void OnClose()
    {
        isEdit = false;
        Folder.Name = folderName;
    }

    private async Task OnValidEditing()
    {
        if (!isEdit)
        {
            return;
        }
        cancellationTokenSource.Cancel();
        isEdit = false;
        await OnEdit.InvokeAsync(Folder);
    }
}
