@inject IStringLocalizer<Localization> loc

<tr>
    <th scope="row" style="width: 91%">
        @if (isEdit)
        {
            <EditForm class="form-inline" Model="Folder" OnValidSubmit="OnValidEditing">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <InputText class="form-control border-dark"
                               @bind-Value="@Folder.Name">
                    </InputText>
                    <ValidationMessage For="@(() => Folder.Name)" />
                </div>
                <button class="btn btn-warning" type="submit">@loc["Save"]</button>
            </EditForm>
        }
        else
        {
            <i class="fas fa-folder"></i>
            @Folder.Name
        }
    </th>
    <th scope="row" style="width: 3%" @onclick="@(async () => await OnOpen.InvokeAsync(Folder))">
        @if (!isEdit)
        {
            <button type="button" class="btn btn-primary">
                <i class="fas fa-folder-open"></i>
            </button>
        }
    </th>
    <th scope="row" style="width: 3%">
        @if (!isEdit)
        {
            <button type="button" class="btn btn-warning" @onclick=@OnEditing>
                <i class="fas fa-edit"></i>
            </button>
        }
    </th>
    <th scope="row" style="width: 3%">
        @if (!isEdit)
        {
            <button type="button" class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </button>
        }
        else
        {
            <Close OnClick="OnClose"></Close>
        }
    </th>
</tr>


@code {
    private bool isEdit;
    private string folderName;
    [Parameter]
    public FolderRestModel Folder { get; set; }
    [Parameter]
    public EventCallback<FolderRestModel> OnOpen { get; set; }
    [Parameter]
    public EventCallback<FolderRestModel> OnEdit { get; set; }

    private void OnEditing()
    {
        isEdit = true;
        folderName = Folder.Name;
    }

    private void OnClose()
    {
        isEdit = false;
        Folder.Name = folderName;
    }

    private async Task OnValidEditing()
    {
        if (!isEdit)
        {
            return;
        }
        isEdit = false;
        await OnEdit.InvokeAsync(Folder);
    }
}
